body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%2Fid%2FOIP.YV_jvKM7op5udk7EoBUqegHaHa%3Fcb%3Ducfimgc2%26pid%3DApi&f=1&ipt=68b173302b8fa906190e5a06b0d58e8c00e92a9759e463ee287b3dc06714979a);
    color: #ffffff;
}

#mais5 {
    font-size: 30px;
    background-color: #00000079;
    color: #ffffff;
    border: none;
    border-radius: 10px;
}